* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;

	/* force standard font-size for Chrome */
	font-size: 1rem;
}

/* custom demo styles */
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	text-align: center;
}
